ui/__pycache__/absence.cpython-311.pyc
ui/__pycache__/attendance_report.cpython-311.pyc
ui/__pycache__/child_details_dialog.cpython-311.pyc
ui/__pycache__/comparison_report.cpython-311.pyc
ui/__pycache__/data_management.cpython-311.pyc
ui/__pycache__/early_arrival.cpython-311.pyc
ui/__pycache__/main_window.cpython-311.pyc
ui/__pycache__/modern_widget.cpython-311.pyc
ui/__pycache__/registration_tab.cpython-311.pyc
ui/__pycache__/server_assignment_dialog.cpython-311.pyc
ui/__pycache__/absence.cpython-311.pyc
ui/__pycache__/attendance_report.cpython-311.pyc
ui/__pycache__/child_details_dialog.cpython-311.pyc
ui/__pycache__/comparison_report.cpython-311.pyc
ui/__pycache__/data_management.cpython-311.pyc
ui/__pycache__/early_arrival.cpython-311.pyc
ui/__pycache__/main_window.cpython-311.pyc
ui/__pycache__/modern_widget.cpython-311.pyc
ui/__pycache__/registration_tab.cpython-311.pyc
ui/__pycache__/server_assignment_dialog.cpython-311.pyc
*__pycache__
*.pyc
utils/__pycache__/style_manager.cpython-311.pyc
backups/database_backup_20251227_001322.json
backups/database_backup_20251227_010811.json
backups/database_backup_20251227_010819.json
data/current_session.json
data/database.json
backups/database_backup_20251227_011541.json
backups/database_backup_20251227_014152.json
backups/database_backup_20251227_014731.json
backups/database_backup_20251227_022413.json
backups/database_backup_20251227_024231.json
backups/database_backup_20251227_024914.json
backups/database_backup_20251227_025233.json
backups
data/
data/current_session.json
data/database.json
./data/*
./backups/*